In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

In [2]:
# Locating the file
HOME = Path() / '../'
WBANK = HOME / 'food-waste-dataset' / 'worldbank'
GDP = WBANK / 'gdp'

gdp_df = pd.read_csv(GDP / 'gdp.csv', encoding='latin-1')
emi_pop_df = pd.read_csv(WBANK / 'population_emission.csv', encoding='latin-1')

In [3]:
print(gdp_df)
print(emi_pop_df)

                          country  year           gdp
0                           Aruba  1990  7.648045e+08
1     Africa Eastern and Southern  1990  2.532267e+11
2                     Afghanistan  1990           NaN
3      Africa Western and Central  1990  1.218021e+11
4                          Angola  1990  1.122876e+10
...                           ...   ...           ...
7975                       Kosovo  2019  7.899879e+09
7976                  Yemen, Rep.  2019           NaN
7977                 South Africa  2019  3.885320e+11
7978                       Zambia  2019  2.330867e+10
7979                     Zimbabwe  2019  2.183223e+10

[7980 rows x 3 columns]
                          country  year   population       emission
0                           Aruba  1990      65712.0            NaN
1     Africa Eastern and Southern  1990  309890664.0  320589.996671
2                     Afghanistan  1990   10694796.0    6739.999771
3      Africa Western and Central  1990  206739024.0  225169.999979
4                          Angola  1990   11828638.0   21219.999313
...                           ...   ...          ...            ...
7975                       Kosovo  2019    1788878.0            NaN
7976                  Yemen, Rep.  2019   31546691.0   10609.999657
7977                 South Africa  2019   58087055.0   80129.997253
7978                       Zambia  2019   18380477.0   15619.999886
7979                     Zimbabwe  2019   15354608.0   12550.000191

[7980 rows x 4 columns]

In [4]:
emi_pop_gdp_df = pd.merge(emi_pop_df, gdp_df)
emi_pop_gdp_df

,country,year,population,emission,gdp
0,Aruba,1990,65712.0,NaN,7.648045e+08
1,Africa Eastern and Southern,1990,309890664.0,320589.996671,2.532267e+11
2,Afghanistan,1990,10694796.0,6739.999771,NaN
3,Africa Western and Central,1990,206739024.0,225169.999979,1.218021e+11
4,Angola,1990,11828638.0,21219.999313,1.122876e+10
...,...,...,...,...,...
7975,Kosovo,2019,1788878.0,NaN,7.899879e+09
7976,"Yemen, Rep.",2019,31546691.0,10609.999657,NaN
7977,South Africa,2019,58087055.0,80129.997253,3.885320e+11
7978,Zambia,2019,18380477.0,15619.999886,2.330867e+10
7979,Zimbabwe,2019,15354608.0,12550.000191,2.183223e+10

In [5]:
emi_pop_gdp_df.to_csv(WBANK / 'emi_pop_gdp.csv', index=False)